# UAT report

Within the scope of User Acceptance Testing I performed on ABB mobile application, various test cases were executed on the following functions:
- Registration
- OTP process
- Login
- Password change
- PIN reset
- Payment to mobile operator

"PIN (access code of application) change" was not tested in this UAT test because screen PIN is also the password used to login to the account. There is no distinction between screen password and account password.

#### UAT test statistics
- Total:
- Passed:
- Blocked:
- Failed:

#### Application specifications
- Name:
- Release:
- Sha256:
